/* OpportunityCard.css */

.opportunity-card {
    background-color: burlywood;
    border: none;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.opportunity-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.opportunity-card.expanded {
    transform: translateY(0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.opportunity-details {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.opportunity-details p {
    font-family: 'Arial', sans-serif;
    /* Example of soft font */
}

.opportunity-details button {
    background-color: burlywood;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.opportunity-details button:hover {
    background-color: #0056b3;
}