/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f5ff;
 
  color:brown;
 
background-image: url('./images/keith-misner-h0Vxgz5tyXA-unsplash.jpg');
 
  background-size: cover;
 
  background-position: center;
 
}
/* App.css */

.core-values {
  background-color: rgba(255, 255, 255, 0.9);
 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  margin: 20px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 
}

header,
footer {
  background-color: #007bff;
  
  color: #fff;
 
  padding: 20px;
  text-align: center;
}

.core-values {
  background-color: rgba(255, 255, 255, 0.9);
 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  margin: 20px;
}

.opportunity-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.opportunity-card {
  background-color: rgba(255, 255, 255, 0.9);
  /* Transparent background */
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Smooth transition */
}

.opportunity-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* Dynamic shadow on hover */
}

.opportunity-details {
  margin-top: 10px;
}

.point-calculator {
  background-color: rgba(255, 255, 255, 0.9);
  /* Transparent background */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Dynamic shadow */
  margin: 20px auto;
  max-width: 300px;
}

.employer-login {
  background-color: rgba(255, 255, 255, 0.9);
  /* Transparent background */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Dynamic shadow */
  margin: 20px auto;
  max-width: 300px;
}

footer {
  background-color:burlywood;
  /* Blue footer background */
  color: #fff;
  /* White text color */
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 5px 0;
}

/* Footer section colors */
.footer-section1 {
  background-color: #f3ff47;
  /* Tomato color */
}

.footer-section2 {
  background-color: #ff0062;
  /* Gold color */
}